[Unit]
Description=LIGO MQTT Mode Orchestrator
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=maum
ExecStart=/home/maum/last_navi/src/LIGO./systemd/start.sh
Restart=always
RestartSec=3
KillSignal=SIGINT
TimeoutStopSec=20
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
